<!DOCTYPE html>
<html lang="en">

<head>
    <title>Internal Server Error</title>
</head>

<body>
    <div class="container">
        <h1>500 Internal Server Error</h1>
        <p>
            Something went wrong.....
        </p>
    </div>
    <hr>
    <div class="container">
        Powered by <a href="https://github.com/teran/archived" target="_blank" rel="noopener">archived</a>
    </div>
</body>

</html>
