<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Internal Server Error</title>
    </head>
    <body>
        <h1>500 Internal Server Error</h1>
        <p>
            Something went wrong.....
        </p>
        <hr>
        Powered by <a href="https://github.com/teran/archived" target="_blank">archived</a>
    </body>
</html>
